/nbproject/
/build.xml
/manifest.mf
/BibliotecaGit/nbproject/private/
/BibliotecaGit/nbproject/project.xml
/BibliotecaGit/build.xml
/BibliotecaGit/nbproject/build-impl.xml
/BibliotecaGit/nbproject/genfiles.properties
/BibliotecaGit/manifest.mf
/BibliotecaGit/nbproject/project.properties
/src/biblioteca/TipoLibro.java
/Biblioteca2/nbproject/private/
/Biblioteca2/build/
/Biblioteca2/manifest.mf
/Biblioteca2/build.xml
/Biblioteca2/nbproject/build-impl.xml
/Biblioteca2/nbproject/project.properties
/Biblioteca2/nbproject/genfiles.properties
/Biblioteca2/nbproject/project.xml