/nbproject/
/build.xml
/manifest.mf
/BibliotecaGit/nbproject/private/
/BibliotecaGit/nbproject/project.xml
/BibliotecaGit/build.xml
/BibliotecaGit/nbproject/build-impl.xml
/BibliotecaGit/nbproject/genfiles.properties
/BibliotecaGit/manifest.mf
/BibliotecaGit/nbproject/project.properties
/src/biblioteca/TipoLibro.java